<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>双向绑定指令</title>

        <script src="./lib/vue-2.6.12.js"></script>
        <script>
            window.onload = function () {
                const vm = new Vue({
                    el: '#app',
                    data: {
                        message: '',
                        multilineMessage: '',
                    },
                    methods: {},
                });
            };
        </script>
    </head>

    <body>
        <div id="app">
            <p>文本框输入内容: {{ message }}</p>
            <input v-model="message" placeholder="edit me" />

            <hr />

            <span>多行文本框输入内容:</span>
            <p style="white-space: pre-line">{{ multilineMessage }}</p>
            <br />
            <textarea
                v-model="multilineMessage"
                placeholder="add multiple lines"
            ></textarea>

            <hr />

            
        </div>
    </body>
</html>
